<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
    `
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

    <title>Config Key Fixer</title>
</head>
<body style="font-family: Ubuntu; background-color: #FCFCFC;">
<div class="container">
    <h1 id="header" style="text-align: center; font-size: 4em; margin-top:100px;"><i class="fa fa-wrench"
                                                                                     aria-hidden="true"></i> Config Key
        Fixer <i class="fa fa-wrench" aria-hidden="true"></i></h1>

    <h1 id="header" style="text-align: center; font-size: 2em; margin-top:100px;"><i class="fa fa-exclamation-triangle"
                                                                                     aria-hidden="true"
                                                                                     style="font-size: 5em; color: #CF0C0C"></i><br><br>
        The configuration parsing took too much time.<br>
        Please check the config and try again or contact drorm@radware.com</h1>

    <div id="footer" style="margin-top:100px;">
        <h5>Developed By: Dror Moyal 2016</h5>
    </div>
</div>

</body>
</html>